{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
 

<h1>Post</h1>

<ul>
{% for post in object_list %} <!--for loop to get list of posts -->
	<li>
		<a href="{% url 'article-detail' post.pk %}">

		{{post.title}}</a> - 
		{{post.author.first_name}} 
		{{post.author.last_name}} -
		{{post.post_date}} 
		{% if user.is_authenticated %}
		<small>
		
			<a href="{% url 'update_post' post.pk %}">(Edit)</a> -

			<a href="{% url 'delete_post' post.pk %}">(Delete)</a>
		</small>
		{% endif %}
		


		<br/>

		{{post.body|slice:":200"|safe}}
	</li> <!--list-->
		

{% endfor%}


</ul>

</body>
{% endblock %}  
</html>
